/************************
CREATIVE CONTENT STYLES
************************/
#leave-behind {
  height: 31px;
  position:absolute;
  width: 88px;

}

#expand-button {
  height: 100%;
  position: absolute;
  width: 100%;
  background-image:url(../images/leaveBehind.png);
  background-color: #f4f4f2;
  background-position: 5px 5px;
  background-repeat:no-repeat;
  cursor: pointer;

}