html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
*,
:after,
:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
a img {
    border: none
}
a,
img {
    border: 0;
    outline: none
}

/*******************
INIT PANEL STYLES
*******************/
.chtext {
  font-size: 13px;
  position: relative;
  top: 0px;
  left: 1%;
  width: 35%;
}

#logo{
  background-image:url(../images/logo.png);
  background-position: 7px 7px;
  background-repeat:no-repeat;
  height: 75px;
  width: 210px;
}

#column1 {
  height: 100%;
  width: 100%;
  background-color: #9400D3;
}

#column2 {
  height: 100%;
  width: 100%;
  background-color: #8FBC8F;
}

#column3 {
  height: 100%;
  width: 100%;
  background-color: #B0E0E6;
}

#column4 {
  height: 100%;
  width: 100%;
  background-color: #CD5C5C;
}

#column5 {
  height: 100%;
  width: 100%;
  background-color: #DC143C;
}

#close-button {
  position: absolute;
  right: 1%;
  top: 2%;
  z-index: 4;
}

.buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#clickthrough-button {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    left: 0;
}

#expand-button {
  height: 100%;
  position: absolute;
  width: 100%;
}

.label{
  font-size: 14px;
  position: absolute;
  margin-top: 50px;
}
/*******************
END PANEL STYLES
*******************/

.abs-pos,
#mu_wrapper,
#mu_wrapper #sceneContainer #allCopyContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 328px;
    overflow: hidden
}
.rainClass {
    width: 1px;
    height: 10px;
    position: absolute;
    left: 10px;
    top: 15px;
    border-radius: 100% 0;
    background-color: white;
    -moz-box-shadow: 0px 0px 2px 0px #fff;
    -webkit-box-shadow: 0px 0px 2px 0px #fff;
    box-shadow: 0px 0px 2px 0px #fff
}
.sparkClass {
    width: 14px;
    height: 3px;
    position: absolute;
    left: 10px;
    top: 15px;
    border-radius: 25%;
    background-color: #d34917
}
.sparkClass2 {
    width: 14px;
    height: 3px;
    position: absolute;
    left: 10px;
    top: 15px;
    border-radius: 25%;
    background-color: #e89579
}
.txtDustClass {
    position: absolute;
    opacity: 0;
    width: 2px;
    height: 2px;
    background: white
}
.txtDustClass2 {
    position: absolute;
    opacity: 0;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid white
}
#mu_wrapper {
    opacity: 0;
    background-color: black;
    visibility: hidden;
    background-color: #FFFFFF
}
#mu_wrapper .show {
    visibility: visible
}
#mu_wrapper #sceneContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px;
    z-index: 2
}
#mu_wrapper #sceneContainer #bg1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px;
    background: url("../images/bg.jpg") 0 0 no-repeat
}
#mu_wrapper #sceneContainer #bg1 #m1Container {
    position: absolute;
    top: 20px;
    left: 450px;
    width: 252px;
    height: 279px
}
#mu_wrapper #sceneContainer #bg1 #m1Container #m1Body {
    position: absolute;
    top: -1px;
    left: -90px;
    width: 422px;
    height: 303px;
    background: url('../images/sprites-s5a89c1035a.png') -561px -506px;
    z-index: 3;
    -moz-transform-origin: 60px 150px;
    -ms-transform-origin: 60px 150px;
    -webkit-transform-origin: 60px 150px;
    transform-origin: 60px 150px
}
#mu_wrapper #sceneContainer #bg1 #m1Container #m1Body #m1LeftArm {
    position: relative;
    top: 126px;
    left: 220px;
    width: 60px;
    height: 28px;
    background: url('../images/sprites-s5a89c1035a.png') 0 -260px;
    -moz-transform-origin: 14px 12px;
    -ms-transform-origin: 14px 12px;
    -webkit-transform-origin: 14px 12px;
    transform-origin: 14px 12px
}
#mu_wrapper #sceneContainer #bg1 #m1Container #m1Body #m1LeftArm #m1LeftHand {
    position: relative;
    top: 10px;
    left: 7px;
    width: 57px;
    height: 141px;
    background: url('../images/sprites-s5a89c1035a.png') -980px 0;
    -moz-transform-origin: 50px 10px;
    -ms-transform-origin: 50px 10px;
    -webkit-transform-origin: 50px 10px;
    transform-origin: 50px 10px
}
#mu_wrapper #sceneContainer #bg1 #m1Container #m1Body #m1RightArm {
    position: relative;
    top: 112px;
    left: 317px;
    width: 78px;
    height: 49px;
    background: url('../images/sprites-s5a89c1035a.png') -83px -260px;
    z-index: -1;
    -moz-transform-origin: 8px 9px;
    -ms-transform-origin: 8px 9px;
    -webkit-transform-origin: 8px 9px;
    transform-origin: 8px 9px
}
#mu_wrapper #sceneContainer #bg1 #m1Container #m1Body #m1RightArm #m1RightHand {
    position: relative;
    top: 13px;
    left: 48px;
    width: 47px;
    height: 134px;
    background: url('../images/sprites-s5a89c1035a.png') -933px 0;
    -moz-transform-origin: 10px 15px;
    -ms-transform-origin: 10px 15px;
    -webkit-transform-origin: 10px 15px;
    transform-origin: 10px 15px
}
#mu_wrapper #sceneContainer #bg2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px;
    background: url("../images/bg.jpg") -1272px 0 no-repeat
}
#mu_wrapper #sceneContainer #bg2 #m2Container #m2Legs {
    position: absolute;
    top: 125px;
    left: 470px;
    width: 155px;
    height: 93px;
    background: url('../images/sprites-s5a89c1035a.png') -373px 0;
    -moz-transform-origin: 40px 40px;
    -ms-transform-origin: 40px 40px;
    -webkit-transform-origin: 40px 40px;
    transform-origin: 40px 40px
}
#mu_wrapper #sceneContainer #bg2 #m2Container #m2Legs #m2Body {
    position: relative;
    top: -60px;
    left: 20px;
    width: 141px;
    height: 136px;
    background: url('../images/sprites-s5a89c1035a.png') -161px -260px;
    -moz-transform-origin: 66px 60px;
    -ms-transform-origin: 66px 60px;
    -webkit-transform-origin: 66px 60px;
    transform-origin: 66px 60px
}
#mu_wrapper #sceneContainer #bg2 #m2Container #m2Legs #m2Body #m2Arm {
    position: relative;
    top: 82px;
    left: -12px;
    width: 28px;
    height: 65px;
    background: url('../images/sprites-s5a89c1035a.png') -304px 0;
    -moz-transform-origin: 13px 0px;
    -ms-transform-origin: 13px 0px;
    -webkit-transform-origin: 13px 0px;
    transform-origin: 13px 0px
}
#mu_wrapper #sceneContainer #bg2 #m3BodyContainer {
    position: absolute;
    top: 50px;
    right: 290px;
    width: 196px;
    height: 209px;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%
}
#mu_wrapper #sceneContainer #bg2 #m3BodyContainer #m3ArmContainer {
    position: relative;
    top: 107px;
    left: -87px;
    width: 44px;
    height: 98px;
    -moz-transform-origin: -10px 0px;
    -ms-transform-origin: -10px 0px;
    -webkit-transform-origin: -10px 0px;
    transform-origin: -10px 0px
}
#mu_wrapper #sceneContainer #bg2 #m3BodyContainer #m3ArmContainer #m3Hand {
    position: relative;
    top: 0px;
    left: 0px;
    width: 23px;
    height: 33px;
    background: url('../images/sprites-s5a89c1035a.png') -60px -260px;
    -moz-transform-origin: 12px 12px;
    -ms-transform-origin: 12px 12px;
    -webkit-transform-origin: 12px 12px;
    transform-origin: 12px 12px
}
#mu_wrapper #sceneContainer #bg2 #m3BodyContainer #m3ArmContainer #m3Arm {
    position: absolute;
    top: 0;
    left: 0;
    width: 41px;
    height: 68px;
    background: url('../images/sprites-s5a89c1035a.png') -332px 0
}
#mu_wrapper #sceneContainer #bg2 #m3BodyContainer #m3Body {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 311px;
    height: 200px;
    background: url('../images/sprites-s5a89c1035a.png') -443px -260px;
    -moz-transform-origin: 145px 178px;
    -ms-transform-origin: 145px 178px;
    -webkit-transform-origin: 145px 178px;
    transform-origin: 145px 178px
}
#mu_wrapper #sceneContainer #bg2 #m4Container #m4Head {
    position: absolute;
    top: 0;
    right: 90px;
    width: 186px;
    height: 246px;
    background: url('../images/sprites-s5a89c1035a.png') -915px -260px
}
#mu_wrapper #sceneContainer #bg3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px;
    background: url("../images/bg.jpg") -2544px 0 no-repeat
}
#mu_wrapper #sceneContainer #bg3 #vignette2 {
    position: absolute;
    top: 0;
    left: -100px;
    width: 1372px;
    height: 328px;
    background-color: transparent;
    -moz-box-shadow: inset 0px 20px 200px 70px #060b11;
    -webkit-box-shadow: inset 0px 20px 200px 70px #060b11;
    box-shadow: inset 0px 20px 200px 70px #060b11
}
#mu_wrapper #sceneContainer #bg3 #heroesContainer {
    position: absolute;
    width: 1272px;
    height: 274px;
    left: 280px;
    top: -80px
}
#mu_wrapper #sceneContainer #bg3 #heroesContainer #heroLeft {
    position: absolute;
    top: 189px;
    left: 125px;
    width: 141px;
    height: 176px;
    background: url('../images/sprites-s5a89c1035a.png') -302px -260px
}
#mu_wrapper #sceneContainer #bg3 #heroesContainer #heroRight {
    position: absolute;
    top: 169px;
    left: 410px;
    width: 104px;
    height: 152px;
    background: url('../images/sprites-s5a89c1035a.png') -1037px 0
}
#mu_wrapper #sceneContainer #bg3 #heroesContainer #heroMain {
    position: absolute;
    top: 110px;
    left: 218px;
    width: 237px;
    height: 254px;
    background: url('../images/sprites-s5a89c1035a.png') -324px -506px
}
#mu_wrapper #sceneContainer #bg4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px
}
#mu_wrapper #sceneContainer #bg4 #endcardLogo {
    width: 324px;
    height: 106px;
    margin: 70px 0 0 189px;
    background: url('../images/sprites-s5a89c1035a.png') 0 -506px;
    opacity: 0
}
#mu_wrapper #sceneContainer #bg4 #boxContainer {
    position: absolute;
    width: 161px;
    height: 227px;
    right: 200px;
    top: 22px;
    opacity: 0;
    z-index: 2
}
#mu_wrapper #sceneContainer #bg4 #boxContainer #boxRight {
    width: 161px;
    height: 227px;
    background: url('../images/sprites-s5a89c1035a.png') -754px -260px
}
#mu_wrapper #sceneContainer #bg4 #knowMore {
    position: absolute;
    width: 304px;
    height: 63px;
    right: 360px;
    bottom: 105px;
    background: url('../images/sprites-s5a89c1035a.png') 0 0;
    cursor: pointer;
    opacity: 0.85;
    transition: all 0.35s ease;
    z-index: 5
}
#mu_wrapper #sceneContainer #bg4 #knowMore:hover {
    opacity: 1 !important
}
#mu_wrapper #sceneContainer #rainHolder {
    position: absolute;
    width: 400px;
    height: 400px;
    top: -745px;
    left: -200px
}
#mu_wrapper #sceneContainer #copyBackground {
    position: absolute;
    top: 0;
    left: -25px;
    width: 1322px;
    height: 700px;
    background-color: black
}
#mu_wrapper #sceneContainer #copyBackground #smokeBalls {
    position: absolute;
    width: 1272px;
    height: 784px;
    left: 100px;
    top: -90px
}
#mu_wrapper #sceneContainer #copyBackground #smokeBalls #ball1 {
    position: absolute;
    width: 925px;
    height: 925px
}
#mu_wrapper #sceneContainer #copyBackground #smokeBalls #ball2 {
    position: absolute;
    width: 225px;
    height: 225px
}
#mu_wrapper #sceneContainer #copyBackground #smokeBalls #ball3 {
    position: absolute;
    width: 225px;
    height: 225px
}
#mu_wrapper #sceneContainer #copyBackground #smokeBalls .smokeGrad {
    border-radius: 50%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(10, 7, 6, 0.8) 0%, rgba(68, 26, 4, 0.8) 14%, rgba(115, 40, 13, 0.8) 26%, rgba(143, 48, 18, 0.79) 33%, rgba(173, 71, 34, 0.58) 53%, rgba(116, 47, 20, 0.5) 58%, rgba(48, 18, 3, 0.36) 64%, transparent 74%, transparent 80%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(10, 7, 6, 0.8) 0%, rgba(68, 26, 4, 0.8) 14%, rgba(115, 40, 13, 0.8) 26%, rgba(143, 48, 18, 0.79) 33%, rgba(173, 71, 34, 0.58) 53%, rgba(116, 47, 20, 0.5) 58%, rgba(48, 18, 3, 0.36) 64%, transparent 74%, transparent 80%);
    background: radial-gradient(ellipse at center, rgba(10, 7, 6, 0.8) 0%, rgba(68, 26, 4, 0.8) 14%, rgba(115, 40, 13, 0.8) 26%, rgba(143, 48, 18, 0.79) 33%, rgba(173, 71, 34, 0.58) 53%, rgba(116, 47, 20, 0.5) 58%, rgba(48, 18, 3, 0.36) 64%, rgba(0, 0, 0, 0.06) 74%, rgba(0, 0, 0, 0) 80%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr=GradientType=1)
}
#mu_wrapper #sceneContainer #copyBackground #mushroomCloud {
    position: absolute;
    top: 0;
    left: 0;
    width: 1500px;
    height: 700px;
    background: url("../images/mushroomCloud.png") center;
    background-size: 100% 100%
}
#mu_wrapper #sceneContainer #copyBackground #mushroomCloud #sparkHolder {
    position: absolute;
    width: 600px;
    height: 600px;
    top: -75px;
    left: -50px
}
#mu_wrapper #sceneContainer #allCopy {
    max-height: 700px
}
#mu_wrapper #sceneContainer #txtHolder {
    position: absolute;
    width: 10px;
    height: 10px
}
#mu_wrapper #sceneContainer #txtHolder #txtGradLayer {
    position: absolute;
    width: 1272px;
    height: 328px;
    top: -110px;
    left: -55px
}
#mu_wrapper #vignette {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px;
    background-color: transparent;
    -moz-box-shadow: inset 50px 0px 200px 40px #000;
    -webkit-box-shadow: inset 50px 0px 200px 40px #000;
    box-shadow: inset 50px 0px 200px 40px #000
}
#mu_wrapper #lightning {
    position: absolute;
    top: 0;
    left: 0;
    width: 1272px;
    height: 274px;
    background-color: white;
    opacity: 0
}
#mu_wrapper #footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 54px;
    width: 1272px;
    background-color: #107c10;
    z-index: 3
}
#mu_wrapper #footer #xBoxLogo,
#mu_wrapper #footer #winLogo {
    position: absolute;
    width: 1272px;
    height: 54px;
    top: 0;
    left: 0
}
#mu_wrapper #footer #xBoxLogo {
    background: url('../images/sprites-s5a89c1035a.png') 0 -206px
}
#mu_wrapper #footer #winLogo {
    background: url('../images/sprites-s5a89c1035a.png') 0 -152px
}